.Spinner{
    margin: 150px 30px 30px 30px;
    display: flex;
    justify-content: center;
}

.spinning{
    animation: spinner 2s infinite;
}

@keyframes spinner {
    to{
        transform: rotate(360deg);
    }
}